<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">

    <%- include('./partials/head.ejs', {title: 'Beanie Babies!'}) %>
    <link rel="stylesheet" href="/styles/index.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="listings">
            <h1>Available Beanie Babies!</h1>
            <ul>
                <% for (let bean of beans) { %>
                <li>
                    <figure>
                        <img src="<%= bean.photo %>">
                        <figcaption>
                            <h4><%= bean.name %></h4>
                            <p><%= bean.animal %> <br> <%= bean.type %></p>
                            <a href="/beans/<%= bean._id %>">$<%= bean.price %></a>
                        </figcaption>
                    </figure>
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>