<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="icon" type="image" href="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.ispsd.com%2Fwp-content%2Fuploads%2F2013%2F02%2Fwpid-vinyl-record-disc-512.png&f=1&nofb=1&ipt=c5478cc32832f4282f6895714e79dec33da619350aaf74861275da9935b3f06a&ipo=images" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">

    <%- include('./partials/header.ejs', {title: 'Virtual Vinyl Vault'}) %>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <div class="bg-image">
    </div>
    <%- include('./partials/nav.ejs') %>
    <div class="welcome"><h1>Welcome to Virtual Vinyl Vault</h1></div>
    

    <section class="favorited-albums">
        <h2 class="fav">Favorited Albums</h2>
        <ul class="albums-grid">
            <% for (let album of albums) { %>
            <li>
                <img src="<%= album.albumCover %>" alt="cover-photo">
                <h3><%= album.albumName %></h3>
                <p><%= album.year %></p>
                
                <a href="/albums/<%= album._id %>" class="btn">View</a>
            </li>
            <% } %>
        </ul>
    </section>
    <%- include('./partials/footer.ejs') %>
</body>