<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">

    <%- include('./partials/header.ejs', {title: 'Virtual Vinyl Vault'}) %>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>
    <h1>Welcome to Virtual Vinyl Vault</h1>
    

    <section class="favorited-albums">
        <h2 class="new">Favorited Albums</h2>
        <ul class="albums-grid">
            <% for (let album of albums) { %>
            <li>
                <img src="<%= album.albumCover %>" alt="cover-photo">
                <h3><%= album.albumName %></h3>
                <p><%= album.year %></p>
                
                <a href="/album/<%= album._id %>" class="btn">Buy Now</a>
            </li>
            <% } %>
        </ul>
    </section>
</body>