<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">

    <%- include('./partials/header.ejs', {title: 'Beanie Babies!'}) %>
    <link rel="stylesheet" href="/styles/gallery.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="listings">
            <h1>Collected Albums</h1>
            <ul>
                <% for (let album of albums) { %>
                <li>
                    <figure>
                        <img src="<%= album.albumCover %>">
                        <figcaption>
                            <h4><%= album.albumName %> <br> <span class="year"><%= album.year %></span></h4>
                            <p><%= album.bandName %></p>
                            <a href="/albums/<%= album._id %>"></a>
                        </figcaption>
                    </figure>
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>